# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env.check_token.ps1
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Render
.render/